.toolbar-control {
    -fx-background-color: #1CA3EC;
}

.toolbar-control .button-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.toolbar-control .button-text {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.toolbar-control .textfield {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
